@import url(https://fonts.googleapis.com/css?family=Nunito);

html {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $darkgray;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0;
    max-width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;

    @media screen and (max-width: 768px) {
        flex-direction: row;
        width: 80%;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 25%;

        @media screen and (max-width: 768px) {
            margin-top: 1em;
            width: 60%;
        }

        @media screen and (max-width: 425px) {
            margin-top: 1em;
            width: 60%;
        }

        h2 {
            font-size: 1.5em;
            color: #4d4d4d;
        }

        img {
            width: 50px;
        }

        a {
            text-decoration: none;
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 40%;

        @media screen and (max-width: 1024px) {
            width: 50%;
        }

        h3 {
            font-size: 1.2em;
            color: #4d4d4d;

            @media screen and (max-width: 768px) {
                margin-top: 0em;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 0;
            width: 25%;
        }

        a {
            color: #4d4d4d;
            text-decoration: none;
        }

        a:hover {
            color: #aed9ff;
        }
    }
}

/* nav styles for mobile */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 1.5em;
    margin-bottom: 1em;
    width: 15%;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    background-color: #333;
    height: 2px;
    width: 25px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: "";
    margin: 5px 0;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    nav a {
        display: none;
    }

    nav a.active {
        display: block;
    }

    /* Adjust styles as needed for mobile layout */
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    width: 80%;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    margin-top: 2em;

    @media screen and (max-width: 768px) {
        width: 70%;
    }

    h1 {
        font-size: 3em;
        color: #4d4d4d;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0;

        @media screen and (max-width: 768px) {
            font-size: 2em;
            margin-bottom: 0.5em;
        }
    }

    h2 {
        font-size: 1.5em;
        color: #4d4d4d;
        text-align: center;
        margin-top: 0.5em;

        @media screen and (max-width: 768px) {
            font-size: 1em;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    width: 70%;

    @media screen and (max-width: 769px) {
        width: 100%;
    }

    @media screen and (max-width: 425px) {
        width: 100%;
    }

    h3 {
        font-size: 1.5em;
        color: #4d4d4d;
        margin-bottom: 0.5em;
        text-align: left;
    }

    .search_result {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 95%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        h3 {
            margin-top: 1em;
            font-size: 1.5em;
            color: #4d4d4d;
            text-align: left;
            padding-left: 0.5em;
        }

        .search_list {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            // flex-direction: column;
            flex-wrap: wrap;
            gap: 1.5em;
            width: 100%;

            @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 0em;
            }

            .search_list_item {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 0.5em;
                padding: 1em;
                width: 40%;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    width: 90%;
                }

                img {
                    border: solid 1px #cdcdcd;
                    border-radius: 5px;
                    width: 100px;
                }

                h4 {
                    color: #4d4d4d;
                    font-size: 1rem;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                p {
                    color: #4d4d4d;
                    font-size: 1rem;
                    margin-top: 0;
                    margin-bottom: 0;
                    text-align: left;

                    @media screen and (max-width: 768px) {
                        font-size: 0.9em;
                        text-align: left;
                    }
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .container_detail {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 4em;
        width: 100%;

        @media screen and (max-width: 1025px) {
            gap: 1em;
        }

        @media screen and (max-width: 769px) {
            flex-direction: column;
            gap: 0em;
        }

        img {
            border: solid 1px #cdcdcd;
            border-radius: 5px;
            width: 200px;
        }

        h3 {
            color: #4d4d4d;
            font-size: 1.5em;
            margin-top: 1;
            margin-bottom: 0;
        }

        p {
            color: #4d4d4d;
            font-size: 1em;
            margin-top: 0;
            margin-bottom: 0;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            color: #4d4d4d;
            font-size: 1em;
            margin-top: 2em;
        }

        a {
            text-decoration: none;
        }

        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1em;
            width: 50%;

            @media screen and (max-width: 769px) {
                width: 100%;
            }
        }
    }
}

.booking_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    width: 100%;

    h3 {
        color: #4d4d4d;
        font-size: 1.5em;
        margin-top: 0;
    }

    p {
        color: #4d4d4d;
        font-size: 1em;
    }

    a {
        text-decoration: none;
    }
}

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 100%;
}

.home-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    width: 100%;

    @media screen and (max-width: 768px) {
        gap: 0.5em;
    }
}

.home-input {
    font-size: 1em;
    border: 1px solid #aed9ff;
    border-radius: 5px;
    margin-top: 1em;
    padding: 1em;
    width: 60%;

    @media screen and (max-width: 769px) {
        font-size: 0.9em;
        padding: 1em;
        width: 50%;
    }

    @media screen and (max-width: 426px) {
        font-size: 0.8em;
        padding: 1em;
        width: 50%;
    }
}

.home-button {
    background-color: #004ea1;
    border: 1px solid #004ea1;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
    padding: 1em 2em;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 30%;

    @media screen and (max-width: 769px) {
        font-size: 0.9em;
        width: 40%;
    }

    @media screen and (max-width: 426px) {
        font-size: 0.8em;
        width: 40%;
    }
}

.form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    width: 100%;

    @media screen and (max-width: 768px) {
        gap: 0em;
    }
}

.form-input {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    width: 100%;

    @media screen and (max-width: 768px) {
        gap: 0em;
    }
}

.form-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    width: 100%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.form-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    width: 50%;
}

.form-textarea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    width: 100%;
}

input {
    border: 1px solid #aed9ff;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 1em;
    padding: 1em;
    width: 90%;

    @media screen and (max-width: 768px) {
        font-size: 0.9em;
        padding: 0.5;
    }
}

select {
    border: 1px solid #aed9ff;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 1em;
    padding: 1em;
    width: 100%;

    @media screen and (max-width: 768px) {
        font-size: 0.9em;
        padding: 0.5;
    }
}

textarea {
    border: 1px solid #aed9ff;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 1em;
    padding: 1em;
    width: 95%;

    @media screen and (max-width: 768px) {
        font-size: 0.9em;
        padding: 0.5;
    }
}

.loadmore {
    background-color: #fff;
    border: #bbbbbb 1.5px solid;
    border-radius: 5px;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
    padding: 1em 2em;
    text-align: center;
    // align-self: center;
    transition: background-color 0.3s ease;
    width: 25%;

    @media screen and (max-width: 1025px) {
        font-size: 0.9em;
        width: 40%;
    }

    @media screen and (max-width: 769px) {
        font-size: 0.9em;
        width: 40%;
    }

    @media screen and (max-width: 426px) {
        font-size: 0.9em;
        width: 50%;

    }

}

button {
    background-color: #004ea1;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin-top: 2em;
    padding: 1em 2em;
    text-align: center;
    transition: background-color 0.3s ease;
    width: auto;
}


.book_button {
    background-color: #004ea1;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
}

label {
    color: #4d4d4d;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;
    text-align: left;
    width: 100%;
}

.invalid-feedback {
    color: #ff0000;
    font-size: 0.9em;
    margin-top: 0.5em;
    text-align: left;
    width: 70%;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #666666;
    color: #fff;
    gap: 3em;
    height: 80px;
    margin-top: 2em;
    width: 70%;

    @media screen and (max-width: 1024px) {
        height: 100px;
        width: 80%;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }

    .mid_container_text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 30%;

        h3 {
            font-size: 1.5em;
            margin-top: 1em;
        }
    }

    a {
        text-decoration: none;
    }

    .mid_button {
        background-color: #666666;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff;
        font-size: 1em;
        padding: 1em 2em 1em 2em;
        text-align: center;
        width: 25%;

        @media screen and (max-width: 1024px) {
            padding: 1em 1em 1em 1em;
            width: 35%;
        }
    }
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aed9ff;
    height: 500px;
    margin-top: 2em;
    width: 100%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: 600px;
    }

    .bottom_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4em;
        height: 100%;
        width: 80%;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            flex-flow: column-reverse;
            gap: 0em;
            width: 100%;
        }

        .bottom_container_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            width: 35%;

            @media screen and (max-width: 768px) {
                justify-content: flex-start;
                align-items: center;
                width: 60%;
            }

            h2 {
                color: #004ea1;
                font-size: 1.5em;
                margin-top: 1em;

                @media screen and (max-width: 768px) {
                    font-size: 1.2em;
                    text-align: center;
                }
            }

            p {
                color: #004ea1;
                font-size: 1em;
                margin-top: 0em;

                @media screen and (max-width: 768px) {
                    text-align: center;
                }
            }

            button {
                background-color: #004ea1;
                border: 1px solid #aed9ff;
                border-radius: 5px;
                color: #fff;
                font-size: 1em;
                margin-top: 1em;
                padding: 1em 2em 1em 2em;
                text-align: center;
                width: 300px;

                @media screen and (max-width: 768px) {
                    width: 250px;
                }
            }
        }

        img {
            width: 400px;

            @media screen and (max-width: 768px) {
                width: 300px;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0em;
    margin-bottom: 1em;
    text-align: center;
    width: 80%;

    .footer_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3em;
        height: 400px;
        width: 100%;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 0em;
            height: 600px;
            margin-bottom: 1em;
        }

        .footer_story {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 40%;

            @media screen and (max-width: 768px) {
                height: 80%;
                width: 100%;
            }

            h2 {
                color: #4d4d4d;
                font-size: 1.5em;
                margin-top: 1em;
            }

            p {
                color: #4d4d4d;
                font-size: 1em;
                margin-top: 1em;
            }
        }

        img {
            border-radius: 10px;
            width: 400px;

            @media screen and (max-width: 768px) {
                width: 300px;
            }
        }
    }

    .footer_copyright {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        border-top: #aed9ff 1px solid;
        margin-top: 1em;
        width: 100%;

        h3 {
            color: #4d4d4d;
            font-size: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
            text-align: right;
        }
    }
}

.alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;

    &.alert-success {
        background-color: #c3e6cb;
        border-color: #c3e6cb;
        border-radius: 5px;
        color: #155724;
        padding: 1em;
        margin-top: 1em;
    }

    &.alert-danger {
        background-color: #f5c6cb;
        border-color: #f5c6cb;
        border-radius: 5px;
        color: #721c24;
        padding: 1em;
        margin-top: 1em;
    }
}

.alert-success {
    background-color: #c3e6cb;
    border-color: #c3e6cb;
    border-radius: 5px;
    color: #155724;
    padding: 1em;
    margin-top: 1em;
}

.alert-danger {
    background-color: #f5c6cb;
    border-color: #f5c6cb;
    border-radius: 5px;
    color: #721c24;
    padding: 1em;
    margin-top: 1em;
}